VITE_MIDNIGHT_NETWORK=local
VITE_MIDNIGHT_NODE_URL=http://127.0.0.1:9944
VITE_MIDNIGHT_INDEXER_URL=http://127.0.0.1:8088/api/v4/graphql
VITE_MIDNIGHT_PROOF_SERVER_URL=http://127.0.0.1:6300
VITE_MIDNIGHT_CONTRACT_ADDRESS=
