VITE_MIDNIGHT_NETWORK=preprod
VITE_MIDNIGHT_NODE_URL=https://rpc.preprod.midnight.network
VITE_MIDNIGHT_INDEXER_URL=https://indexer.preprod.midnight.network/api/v4/graphql
VITE_MIDNIGHT_PROOF_SERVER_URL=http://127.0.0.1:6300
VITE_MIDNIGHT_CONTRACT_ADDRESS=
